Final Deliverables/Node-Red Flow.json
[{"id":"895cd907e6e8bf90","type":"tab","label":"Hazardous Environment IoT","disabled":false,"info":"","env":[]},{"id":"4ef9142c8f6b77c2","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"130b775c343cfe5b","type":"ui_tab","name":"Humidity","icon":"dashboard","disabled":false,"hidden":false},{"id":"924b9cbfac7dc866","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6276b5de090c3d46","type":"ui_group","name":"smart industry","tab":"130b775c343cfe5b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b1b11140.4e4ef","type":"inject","z":"895cd907e6e8bf90","name":"","props":[{"p":"payload","v":"Hello Node-RED!","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":440,"y":100,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"895cd907e6e8bf90","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"26801529c03e1aab","type":"ibmiot in","z":"895cd907e6e8bf90","authentication":"apiKey","apiKey":"4ef9142c8f6b77c2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"FinalDeliverable","applicationId":"","deviceType":"projectFinal","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":180,"wires":[["fbd34fec0d70430b","ae49f615c03f856a","a173202cf20e2ab4"]]},{"id":"fbd34fec0d70430b","type":"function","z":"895cd907e6e8bf90","name":"Temperature","func":"global.set(\"Temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["f2f2649a.0d0d98","124a7ceb667e5c20"]]},{"id":"ae49f615c03f856a","type":"function","z":"895cd907e6e8bf90","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["f2f2649a.0d0d98","89933a6f45ac12b9"]]},{"id":"124a7ceb667e5c20","type":"ui_gauge","z":"895cd907e6e8bf90","name":"","group":"6276b5de090c3d46","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Farenheit","format":"{{value}}","min":"0","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"95","className":"","x":710,"y":140,"wires":[]},{"id":"89933a6f45ac12b9","type":"ui_gauge","z":"895cd907e6e8bf90","name":"","group":"6276b5de090c3d46","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percentage","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"75","className":"","x":700,"y":180,"wires":[]},{"id":"c815c11165573dd4","type":"http in","z":"895cd907e6e8bf90","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":380,"wires":[["3b1cc4c1b2abfe5b"]]},{"id":"3b1cc4c1b2abfe5b","type":"function","z":"895cd907e6e8bf90","name":"webpage","func":"msg.payload = {\"humidity\":global.get(\"Humidity\"),\"temperature\":global.get(\"Temperature\"),\"air_quality\":global.get(\"AirQuality\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["1eea88f6669efc64"]]},{"id":"1eea88f6669efc64","type":"http response","z":"895cd907e6e8bf90","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"a173202cf20e2ab4","type":"function","z":"895cd907e6e8bf90","name":"Air Quality","func":"global.set('AirQuality',msg.payload.AirQuality)\nmsg.payload=msg.payload.AirQuality;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":220,"wires":[["798955fe4f0c40ec","f2f2649a.0d0d98"]]},{"id":"798955fe4f0c40ec","type":"ui_gauge","z":"895cd907e6e8bf90","name":"","group":"6276b5de090c3d46","order":2,"width":0,"height":0,"gtype":"gage","title":"Air Quality","label":"","format":"{{value}}","min":0,"max":"5084","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3000","seg2":"4000","className":"","x":710,"y":220,"wires":[]},{"id":"953f10eb0411d20a","type":"function","z":"895cd907e6e8bf90","name":"command","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["fdee3cf193a946c6","dbefa765734d9ed9","4701f0fea3364651"]]},{"id":"06c8b75933f0af7e","type":"http in","z":"895cd907e6e8bf90","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":460,"wires":[["953f10eb0411d20a"]]},{"id":"fdee3cf193a946c6","type":"http response","z":"895cd907e6e8bf90","name":"","statusCode":"","headers":{},"x":690,"y":500,"wires":[]},{"id":"dbefa765734d9ed9","type":"debug","z":"895cd907e6e8bf90","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":460,"wires":[]},{"id":"23c293adb0f7bc45","type":"ui_switch","z":"895cd907e6e8bf90","name":"Motor","label":"Motor","tooltip":"","group":"6276b5de090c3d46","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"motor","topicType":"str","style":"","onvalue":"motoron","onvalueType":"str","onicon":"","oncolor":"","offvalue":"motoroff","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":270,"y":420,"wires":[["4701f0fea3364651"]]},{"id":"4701f0fea3364651","type":"ibmiot out","z":"895cd907e6e8bf90","authentication":"apiKey","apiKey":"4ef9142c8f6b77c2","outputType":"cmd","deviceId":"FinalDeliverable","deviceType":"projectFinal","eventCommandType":"test","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":420,"wires":[]}]